<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendaraan Details</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Kendaraan Details</h1>
        <div id="kendaraan-details">
            
        </div>
    </div>
    <script src="../scripts/controllers/detailKendaraanController.js"></script>
    <script src="../scripts/services/kendaraanService.js"></script>
</body>
</html>
